
*{
box-sizing: border-box;
overflow-anchor: none;
}

a{
	text-decoration: none;
}

.card-collection{
	margin: -7px -7px 3px;
	position: relative;
	display: -webkit-box;
	display: flex;

	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-flow: row wrap;
}

.card-item{
	display: flex;
	flex-wrap: wrap;
	height: 442px;

}

.container-main {
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
	
}

div{display: block;}

.page-container {
	display: block;
}
.menu-container {
	display: block;

}

.card-v2 {
	width: 100%;
	min-height: 395px;
	border-radius: 4px;
	background-color: #fff;
	-webkit-font-smoothing: antialiased;
	line-height: 19px;

}


.card-item-wrapper {
	min-height: 100%;
	width: 100%;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	position: relative;
	-webkit-box-pack: justify;
	justify-content: space-between;
	-webkit-transition: box-shadow 0.15s ease;
	transition: box-shadow 0.15s ease;
}

.sidebar-container{
	position: relative;
	background: #fff;
}

.sidebar-tree {
	padding: 0 15px;
	background: #ffffff;
	font-size: 16px;
}

.sidebar-tree-body {
	padding: 0 5px 10px 15px;
}

@media screen and (min-width:454px) {
	.card-item{
		width: 100%;
	}
}




@media screen and (max-width:767px) {
	.card-collection{
		max-width: 100%;
	}
	.card-item{
		width: 50%;
	}

	.page-container{
		margin-top: 10px;
	}
	
}


@media screen and (min-width:768px) {
	.relative {
		position: relative;
	}

	.menu-container{
		float: left;
    width: 243px;
    padding-right: 15px;
		height: 700px;

	}

	.container-main{
		width: 740px;
		height: 1000px;
	}

	.menu-container+.page-container{
		float: left;
		width: calc(100% - 243px);
	}
	.main-container-outer{
		position: relative;
	}

	.card-item{
		width:243px;
		padding: 5px;
	}
	.card-collection{
		margin: -5px -5px 5px;
	}

	.sidebar-tree{
		margin-bottom: 10px;
    font-size: 14px;
    box-shadow: 0 2px 12px -4px rgb(0 0 0 / 10%);
    border-radius: 3px;
    background-color: #e1f3fd;
	}
	
	.sidebar-tree-body {
    padding-left: 10px;
}

}

@media screen and (min-width:992px) {
	.container-main{
		width: 960px
	}
	.menu-container{
    width: 237px;
	}
	.card-item{
		width:237px
	}
	.card-collection{
		margin: -5px -5px 5px;
	}
	.menu-container + .page-container{
		width: calc(100% - 237px);
	}
}

@media screen and (min-width:1260px) {

	.container-main{
		width: 1220px
	}
	.menu-container{
    width: 242px;
	}

	.card-item{
		width:242px
	}
	.card-collection{
		margin: -5px -5px 5px;
	}

	.menu-container + .page-container{
		width: calc(100% - 242px);
	}
}

@media screen and (min-width:1530px) {
	.container-main{
		width: 1520px
	}
	.menu-container{
    width: 302px;
	}

	.menu-container + .page-container{
		width: calc(100% - 302px);
	}

	.card-item{
		width:302px
	}

	.card-collection{
		margin: -5px -5px 5px;
	}
}


.card-info{
	max-width: 400px;
	height: 100%;
	flex: 1;
	display: flex;
	flex-direction: column;
}

